<% layout('header') -%>

<div class="container">
    <div class="row">
        <div class="page-header">
            <h1><%= title %></h1>
        </div>
        <div class="jumbotron">
            <!--<p><a href="/board/write" class="btn btn-primary btn-raised">과제 작성</a></p>-->
            <table class="table table-hover table-striped">
                <tr>
                    <th>번호</th>
                    <th>과제명</th>
                    <th>제출기한</th>
                </tr>
                <% for(var i = 0, len = data.length; i < len, item = data[i]; i++){ %>
                <tr>
                    <td><%= max - i %></td>
                    <td><a href="/board/read/<%= page %>/<%= item.idx %>"><%= item.subject %></a></td>
                    <td><%= item.date %></td>
                </tr>
                <% } %>
            </table>
            <div class="table">
                <% if(page > pageSize){ %>
                [ <a href="/board/list/1">처음</a> ]
                [ <a href="/board/list/<%= startPage-1 %>" 이전</a> ]
                <% }else{ %>
                [ <span style="color: gray">처음</span> ]
                [ <span style="color: gray">이전</span> ]
                <% } %>
                &nbsp;&nbsp;
                <% for(var i = startPage; i <= endPage; i++){ %>
                    <% if ( i == page ){ %>
                    [ <%= i %> ]
                    <% } else { %>
                    [ <a href="/board/list/<%= i %>"><%= i %></a> ]
                    <% } %>
                <% } %>
                &nbsp;&nbsp;
                <% if(endPage < totalPage){ %>
                [ <a href="/board/list/<%= endPage+1 %>">다음</a> ]
                [ <a href="/board/list/<%= totalPage %>">마지막</a> ]
                <% }else{ %>
                [ <span style="color: gray;">다음</span> ]
                [ <span style="color: gray;">마지막</span> ]
                <% } %>
            </div>
        </div>
    </div>
</div>
